.about-container {
  /* height: 100vh; */
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding:4rem;
}

/* .test {
  height: 100vh;
  width: 100%;
} */

.about-wrapper {
  background: rgba(255, 255, 255, .6) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0px auto;
  border-radius: 10px;
}

.about-header-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 2rem 0 1rem 0;
}

h1 {
  text-align: center;
  font-size: 4.2rem;
  color: rgba(26, 26, 26, .87) !important;
}

.kevinPic {
    max-width: 160px;
    border-radius: 20%;
    margin: auto 0;
  }

  .about-text-wrapper {
    position: relative;
    margin: 0;
    padding: 1rem;
    width: 100%;
  }
/* 
    @media screen and (max-width: 960px) {
    
      h1 {
        font-size: 3rem;
      }

      .about-container {
        height: 120vh;
      }
    
    }

    @media screen and (max-width: 700px) {

      .about-container {
        height: 155vh;
      }
    
    } */